@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
}



header{
    width: auto;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding: 0px 96px;
    margin-bottom: 150px;
}
nav{
    margin-left: 30px;
}
 h2{
    font-family: "Newsreader", serif;
    color:#426B1F
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between ;

}

header nav ul li{
    padding: 48px 45px;
    color: #000;
    cursor: pointer;
}

 button{
    font-family: inherit;
    width: 126px;
    height: 48px;
    border: none;
    background-color: #426B1F;
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0 #000000;
}

.Basket-cta span{
   width: 80px;
   height: 21px;
}
.main-cta-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 217px 48px;
    text-align: center;
    
  }
h1 {
    font-size: 60px; 
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  .Basket-cta-main {
    width: 227px;
    height: 64px;
    margin-top: 150px;
    font-size: 25px;
}
.img-wrapper{
    width: 100%;
    margin-top: 268px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-cta-wrapper{
    width: 504px;
    height: 693px;
    margin: 0px 60px 0px 96px;
}
.img-cta-wrapper-second{
    width: 780px;
    height: 480px;

}

.last-cta-wraper{
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: center;
    margin-top: 156px;
}
.last-cta-wraper p{
    width: 822px;
    height:auto;
    align-self: center;
    font-size: 20px;
}
.last-cta-wraper h4{
    margin-top: 135px;
    margin-right: 32px;
    font-size: 14px;
    font-weight: bold;

}